<h1> MEET THE TEAM </h1>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://qph.fs.quoracdn.net/main-qimg-a8cafcc4acb60054c65bd209e7f5cc79-c" alt="Jane" style="width:30%">
      <div class="container">
        <h2>ALEX DE TEMMERMAN</h2>
        <p> A.K.A. LE SAUVEUR</p>
        <p>alexandre2t@hotmail.fr</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://qph.fs.quoracdn.net/main-qimg-a8cafcc4acb60054c65bd209e7f5cc79-c" alt="Mike" style="width:30%">
      <div class="container">
        <h2>THOMAS</h2>
        <p class="title"> IA EVANGELIST / FATHER / TECH INVESTOR </p>
        <p>thomasleoty@gmail.com</p>
      </div>
    </div>
  </div>